@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
    font-family:'FiraCode';
    font-family: 'Bakbak One','Poppins', sans-serif;
    background-image: url('../src/assets/images/coverImge2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}