  .wrapper .btn {
    position: relative;
  }
  .BorderTopBottom:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    top: -6px;
    left: -7px;
    background: #21E786;
    transition: all 0.5s ease;
  }
  
  .BorderTopBottom:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -6px;
    right: -7px;
    background: #21E786;

    transition: all 0.5s ease;
  }
  
  .BorderLeftRight:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 0px;
    height: 0px;
    background: #21E786;

    transition: all 0.5s ease;
  }
  
  .BorderLeftRight:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 3px;
    height: 0px;
    background: #21E786;
    transition: all 0.5s ease;
  }
  
  .btn:hover .BorderTopBottom:before,
  .btn:hover .BorderTopBottom:after {
    width: 30px;
    transition: all 0.5s ease;
  }
  
  .btn:hover .BorderLeftRight:before,
  .btn:hover .BorderLeftRight:after {
    height: 30px;
    width: 3px;
    transition: all 0.5s ease;
  }
  
  /* media queries */
  
 